.profile_photo_div {
  width: 0;
}

.profile_photo {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-top: 30px;
  margin-left: 87px;
  object-fit: cover;
}

.profile_photo_div p {
  width: 126px;
  position: absolute;
  background-color: rgb(218, 255, 255);
  padding: 14px 12px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-top: -110px;
  margin-left: 196px;
  opacity: 0;
  transition: opacity 0.15s;
  cursor: default;
}

.profile_photo_div:hover p {
  opacity: 1;
}

.profile_photo_div p:hover {
  opacity: 0;
}

.my_name {
  font-size: 30px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 56px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  width: 162px;
 }

.black_line {
  width: 50px;
  margin-left: 112px;
  border-bottom: 3px solid black;
}

.my_profession {
  font-size: 24px;
  margin-top: 16px;
  font-style: italic;
  text-align: center;
  width: 275px;
}

.info-of-the-page {
  display: grid;
  grid-template-rows: 100px 105px 85px 75px;
  width: 480px;
  padding-top: 109px;
  padding-left: 59px;
}

.info-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 22px;
}

.pre-info {
  font-size: 30px;
  font-weight: bold;
  margin-left: 16px;
}

.info-1, .info-2 {
  font-size: 18px;
  margin-left: 16px;
}

.book-photo {
  display: inline-block;
  position: relative;
}

@media (max-width: 973px) {
  .book-photo {
    top: -450px;
    left: 252px;
  }
}

@media (min-width: 973.1px) {
  .book-photo {
    top: -360px;
    left: 600px;
  }
}

.book-photo img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.page-I, .page-II, .page-III, .page-IV{
  position: absolute;
  top: 33px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  cursor: default;
}

.page-I {
  left: 44px;
}

.page-II {
  left: 41px;
}

.page-III {
  left: 36px;
}

.page-IV {
  left: 37px;
}
